.container {
  font-family: "Poppins", sans-serif;
  width: 22%;
  margin: auto;
  border: 1px solid #e5e5e5;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container h2 {
  font-size: 26px;
  margin: 0;
  margin-top: -20px;
  font-weight: 500;
}

.container p {
  margin: 0;
  margin-bottom: 30px;
  padding: 10px;
  font-size: 17px;
}

.inputTags {
  width: 90%;
  margin: auto;
}

.inputTags h2 {
  font-size: 28px;
}

.inputTags label {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.inputTags input {
  width: 90%;
  height: 36px;
  margin-bottom: 25px;
  font-size: 14px;
  outline: none;
  margin-left: 10px;
  border: 1px solid lightgrey;
}

.inputTags input::placeholder {
  font-size: 14px;
  padding: 0 5px;
}

#btnlogin {
  width: 92%;
  height: 40px;
  background-color: #e85826;
  border: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  color: white;
  border-radius: 3px;
  margin-left: 10px;
}

a {
  color: blue;
  text-decoration: none;
}

img {
  width: 54%;
  height: 20%;
}

#validmobile {
  color: red;
  font-size: 18px;
  text-align: center;
  display: none;
  margin: 0;
  margin-top: -10px;
  margin-right: 10px;
}

#font {
  width: 90%;
  cursor: pointer;
  height: 30px;
  display: flex;
}

#font1 {
  height: 30px;
  width: 50%;
}

#font2 {
  height: 30px;
  width: 50%;
  margin-left: 20px;
}

#imgf1 {
  height: 26px;
  margin-top: 1px;
  width: 100%;
  object-fit: cover;
}

#imgf2 {
  height: 30px;
  width: 100%;
  object-fit: cover;
}
