body {
  margin: 0px;
  font-family: "Lato", sans-serif;
}
/* header part css */
#header {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  background-color: white;
  /* margin: 0px; */
  padding-top: 0px;
  border-bottom: 1px solid lightgray;
}
.img {
  display: flex;
  width: 33%;
  margin-left: 7%;
  align-items: center;
}
.img img {
  width: 42%;
  cursor: pointer;
}
.img h4 {
  padding-left: 23px;
  color: grey;
}
.img span {
  color: #df561d;
}
.rightHead {
  display: flex;
  align-items: center;
  height: 58px;
  margin-left: 250px;
  width: 300px;
}

.try {
  background-color: #603b6d;
  height: 60px;
  cursor: pointer;
}
.try p {
  padding: 0 14px;
  padding-top: 5px;
  background-color: #603b6d;
  font-weight: bold;
  color: white;
}

#help_div {
  height: 33px;
  width: 54px;
  margin-left: 1%;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 50px;
  transition: 0.5s ease;
}
#help_div:hover {
  background-color: #f2f3f3;
}

#signup_div {
  height: 35px;
  width: 54px;
  margin-left: 1.5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  cursor: pointer;
  border-radius: 50px;
  transition: 0.5s ease;
  position: relative;
}
#signup_div:hover {
  background-color: #f2f3f3;
}
.signmenu {
  display: none;
}
.signmenu a {
  font-size: 16px;
  background: white;
  text-decoration: none;
  color: black;
}
#signup_div:hover .signmenu {
  display: block;
  width: 164%;
  text-align: center;
  position: absolute;
  padding: 6px;
  margin-top: 114px;
  margin-left: 4px;
  background-color: white;
  color: white;
  border-radius: 4px 0 4px 4px;
  z-index: 1;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#cart_div {
  background-color: #f2f3f3;
  height: 100%;
  width: 60px;
  margin-left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 22px;
}

#container1 {
  height: 600px;
  width: 90%;
  display: flex;
  margin: 20px auto;
}

#container2 {
  height: 430px;
  width: 100%;
  margin-top: 100px;
}

#container3 {
  height: 400px;
  width: 100%;
  margin-top: 35px;
  /* border: 2px solid red; */
}
#meal_image {
  height: 420px;
  width: 600px;
  margin-right: 30px;
  margin-left: 50px;
}

#meal_details {
  height: 600px;
  width: 650px;
}

h1 {
  overflow: hidden;
  text-align: center;
}

h1:before,
h1:after {
  background-color: black;
  height: 1px;
  display: inline-block;
  content: "";
  position: middle;
  vertical-align: middle;
  width: 10%;
}

h1:before {
  right: 0.5em;
  margin-left: -90%;
}

h1:after {
  left: 0.5em;
  margin-right: -90%;
}

#recomm {
  height: 300px;
  width: 70%;
  margin-top: 20px;
  display: flex;
  margin-left: 15%;
}

#recomm > div {
  height: 90%;
  width: 24%;
  margin-top: 15px;
  margin-right: 20px;
}
.imag {
  height: 60%;
  width: 100%;
}

.im_det {
  height: 40%;
  width: 100%;
}

.mealname {
  height: 50%;
  width: 100%;
  border: 1px solid black;
}

.mprice {
  height: 50%;
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

#name_p {
  /* height:30px;
  width:auto; */
  font-size: 25px;
  color: rgb(49, 49, 49);
  font-weight: 600;
}
#country_p {
  font-size: 20px;
  color: rgb(80, 80, 80);
  font-weight: 500;
  margin-top: 5px;
}

#price_p {
  font-size: 25px;
  color: black;
  font-weight: 500;
  margin-top: 10px;
}

#add_div {
  height: 25px;
  width: 70px;
  padding: 5px 25px;
  border-radius: 20px;
  background-color: rgb(234, 95, 43);
  color: white;
  margin-top: 10px;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

#detailsMeal_div {
  height: auto;
  width: 500px;
  padding: 0px;
  margin-top: 30px;
}

#details_head {
  font-size: 25px;
  color: rgb(80, 80, 80);
  font-weight: 600;
}

#details_description {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
  color: rgb(80, 80, 80);
}

#category_div {
  height: 60px;
  width: 100px;
  margin-top: 40px;
  margin-left: 20px;
}

#category_img {
  height: 25px;
  width: auto;
}

#category_p {
  font-size: 15px;
  font-weight: 500;
  color: rgb(80, 80, 80);
}

#ingredient_div {
  height: auto;
  width: 500px;
  padding: 10px;
}
#ingredient_p1 {
  margin-bottom: 10px;
  font-size: 20px;
  color: rgb(80, 80, 80);
}
#ingredient_p2 {
  font-size: 15px;
  font-weight: 500;
  color: rgb(80, 80, 80);
}
#main_img {
  height: 400px;
  width: 600px;
}

#ran_meal {
  height: 300px;
  width: 80%;
  margin: auto;
  display: flex;
  gap: 50px;
  margin: 30px auto;
}

#ran_main {
  height: 330px;
  width: 300px;
  padding: 5px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 10px;
}
#ran_div1 {
  height: 280px;
  width: 220px;
  margin-top: 0px;
}
#ran_div2 {
  height: 25px;
  width: 220px;
  display: flex;
  margin-top: 5px;
}

#ran_img {
  height: 200px;
  width: 220px;
  border-radius: 5px;
}
#ran_p1 {
  width: 200px;
  font-size: 20px;
  margin-top: 5px;
  font-weight: 600;
  color: rgb(80, 80, 80);
}
#ran_p2 {
  width: 200px;
  font-size: 16px;
  font-weight: 500;
  margin-top: 0px;

  color: rgb(129, 128, 128);
}

#ran_div2_div1 {
  height: 20px;
  width: 120px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;

  color: rgb(107, 106, 106);
}
#ran_div2_div2 {
  height: 22px;
  width: 76px;
  padding: 5px 25px;
  border-radius: 20px;
  background-color: rgb(234, 95, 43);
  color: white;
  font-weight: 600;
  margin-left: 90px;
}
#badadiv {
  overflow: hidden;
}
#nichekadiv {
  overflow: hidden;
}
