.container {
  font-family: "Poppins", sans-serif;
  width: 24%;
  margin: auto;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.container h2 {
  font-size: 26px;
  margin: 0;
  margin-top: -20px;
  font-weight: 500;
}

.inputTags {
  width: 90%;
  margin: auto;
  align-items: center;
}

.inputTags h2 {
  font-size: 28px;
  text-align: center;
  margin-top: -8px;
}

.inputTags label {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.inputTags input {
  width: 90%;
  height: 36px;
  margin-bottom: 12px;
  font-size: 14px;
  border: 1px solid lightgrey;
  outline: none;
  margin-left: 10px;
}

.inputTags input::placeholder {
  font-size: 14px;
  padding: 0 5px;
  color: #999;
}

#btnsub {
  width: 92%;
  height: 40px;
  background: linear-gradient(to right, #f5914e, #e85826);
  background: -webkit-linear-gradient(left, #f5914e, #e85826);
  outline: none;
  font-size: 18px;
  margin: 14px 0px;
  cursor: pointer;
  color: white;
  border-radius: 3px;
  border: none;
  margin-left: 10px;
}

a {
  color: blue;
  text-decoration: none;
}

img {
  width: 30%;
  height: 20%;
}

#validPass {
  color: red;
  font-size: 18px;
  text-align: center;
  margin: 0;
  margin-bottom: -14px;
  display: none;
}

p {
  margin-top: 0px;
}

.img {
  width: 126px;
  overflow: hidden;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}

.custom-file-input::before {
  content: "Select some files";
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.custom-file-input:hover::before {
  border-color: black;
}

.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

#imgPrev {
  width: 100%;
  margin-top: 6px;
  border-radius: 50%;
}

#forfonts {
  border: 1px solid black;
  width: 60%;
  height: 40px;
}

a {
  text-decoration: none;
}

#font {
  width: 90%;
  cursor: pointer;
  height: 30px;
  display: flex;
}

#font1 {
  height: 30px;
  width: 50%;
}

#font2 {
  height: 30px;
  width: 50%;
  margin-left: 20px;
}

#imgf1 {
  height: 29px;
  width: 100%;
  object-fit: cover;
}

#imgf2 {
  height: 30px;
  width: 100%;
  object-fit: cover;
}
